body{
    display: grid;
    justify-content: center;
}

.container{
    border-style: solid;
    border-width: 2px;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    width: 850px;
    height: 550px;
}


.right{
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 2px;
    display: grid;
    width: 50%;
    text-align: center;
}

.right form{
    display: grid;
    padding: 20px;
    gap: 5px;
}

.right form input{
    border-radius: 5px;
    border-style: solid;
    padding: 10px;
}

.right form button{
    color:white;
    background-color: rgb(52, 146, 247);
}

.bottom-right-container{
    display: grid;
    align-items: center;

    text-align: center;
    border-color: gray;
}

.bottom-right-1{
    border-width: 2px;
    border-bottom: solid;
    border-color: gray;
}

.bottom-right-2{
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    padding: 5px;
}




.left{
    width: 400px;
    background-color: rgb(120, 110, 97);
    border-style: solid;
    border-width: 50%;
}


@media only screen and (max-width: 600px) {
    .left{
        display: none;

    }
}

